{
    "semi": true,
    "trailingComma": "es5",
    "singleQuote": false,
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 90,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "auto",
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./app/globals.css"
}
